<!DOCTYPE html>

<html>
<head>
    <!------ Include the above in your HEAD tag ---------->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>

   
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="~/Content/Proba.css" rel="stylesheet">
</head>
<body>
    <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h4 class="h1-responsive font-weight-bold text-center my-4">Kontaktirajte nas</h4>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">
            Niste pronasli odgovarajuci dokument? Prijavite se i nas tim ce Vas kontaktirati kada dokument bude dostupan na Platformi.
        </p>
        @using (Html.BeginForm("AddPoruka", "Poruka", FormMethod.Post))
        {
            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" method="POST">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
								 <label for="name" class="">Ime</label>
                                    <input type="text" id="name" name="ime" class="form-control">
                                   
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
								<label for="email" class="">Email</label>
                                    <input type="text" id="email" name="emailKorisnika" class="form-control">
                                    
                                </div>
                            </div>

                            <input type="text" name="zahtev" value="zahtevPredavanje" hidden>

                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
								<label for="subject" class="">Predmet</label>
                                    <input type="text" id="subject" name="naslov" class="form-control">
                                    
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
								<label for="message">Poruka</label>
                                    <textarea type="text" id="message" name="sadrzajPoruke" rows="2" class="form-control md-textarea"></textarea>
                                    
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>
                        <div class="text-center text-md-left">
                            <input class="btn btn-primary" type="submit" value="Posalji">
                        </div>
                    
                    <div class="status"></div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>Nis, Srbija</p>
                        </li>

                        <li>
                            <i class="fas fa-phone mt-4 fa-2x"></i>
                            <p> 234 567 </p>
                        </li>

                        <li>
                            <i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>platformazaucenje@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>
        }
        </section>
    <!--Section: Contact v.2-->
</body>
</html>
