<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="~/Content/About.css" rel="stylesheet">
</head>
<body>
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">O nama</h2>
                        <p class="aboutus-text">Online platforma za ucenje. Blanketi, knjige, predavanja.</p>
                        <p class="aboutus-text"> </p>
                      
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="~/Resources/about2.png" alt="">
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</body>
</html>